.my-fonts{
    font-family:sans-serif;
    font-size: large;
    font-weight: 900;
    
    text-decoration: underline;
}

.body { 
    background-color: burlywood;
}


.dam{ text-align: left;
 

    

}

.text{
    color: black


}


.fonts{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium; 
}


.color{ color: black;}